**/node_modules/**/*
packages/appengine/lib/**
.expo/*
npm-debug.*
.DS_Store
.vscode
.expo
yarn.lock
yarn-error.log
lerna-debug.log
firebase-debug.log
Preview.html
yarn.lock
**/build/
.firebase/

# IntelliJ IDE (PhpStorm, WebStorm) specific systemjs file
# that enables babel-plugin-module-resolver.
module-resolver.system.js

# IntelliJ IDE (PhpStorm, WebStorm) environment folder.
.idea